Source: gst-openmax-dm81xx
Section: libs
Priority: optional
Maintainer: Owen Kirby <oskirby@gmail.com>
Build-Depends: debhelper (>= 9),
 libgstreamer-plugins-base0.10-dev (>= 0.10.36),
 libgstreamer0.10-dev (>= 0.10.36),
 libtiomx-dev

Package: gstreamer0.10-openmax-dm81xx
Architecture: armel
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlib:Depends}
Description: GStreamer OpenMAX Plugins (dm81xx)
 GStreamer OpenMAX is a GStreamer plug-in that allows communication with
 OpenMAX IL components for the TI Davinci DM81xx family of multimedia
 SoCs.
