Source: gst-openmax-dm81xx
Section: libs
Priority: optional
Maintainer: Owen Kirby <oskirby@gmail.com>
Build-Depends: debhelper (>= 9),
 dh-autoreconf,
 libgstreamer-plugins-base0.10-dev (>= 0.10.36),
 libgstreamer0.10-dev (>= 0.10.36),
 libtiomx-dev

Package: gstreamer0.10-openmax-dm81xx
Architecture: armel
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GStreamer OpenMAX Plugins (dm81xx)
 GStreamer OpenMAX is a GStreamer plug-in that allows communication with
 OpenMAX IL components for the TI Davinci DM81xx family of multimedia
 SoCs.

Package: gstreamer0.10-openmax-dm81xx-dbg
Architecture: armel
Multi-Arch: same
Section: debug
Priority: extra
Depends: gstreamer0.10-openmax-dm81xx  (= ${binary:Version}),
         ${misc:Depends}
Description: GStreamer OpenMAX Plugins (dm81xx)
 GStreamer OpenMAX is a GStreamer plug-in that allows communication with
 OpenMAX IL components for the TI Davinci DM81xx family of multimedia
 SoCs.
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat
 easier to interpret core dumps. The libraries are installed in
 /usr/lib/debug and are automatically used by gdb.

